.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  padding-top: 63px;
}
.page-title {
  color: #000;
  text-align: left;
  font-size: 80px;
  font-weight: 400;
}
.title-text {
  color: #000;
}
.accent {
  color: #4bcaff;
  font-family: Roboto;
  font-size: 80px;
  font-weight: 400;
}
.page-navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #35444f;
  padding-inline-start: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}
.page-navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 30px 18px 30px;
  border: 1px solid #fff;
}
.nav-hover:hover {
  background-color: #222f3a;
}
.navigation-link {
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-navigation {
  height: 400px;
  display: flex;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0);
}
.main-navigation-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.main-navigation-item {
  padding: 26px 82px 26px 44px;
}
.aside-item-hover:hover {
  text-align: center;
  color: #000;
  font-family: Roboto;
  font-size: 27px;
  line-height: 27px;
  background-color: #dbdbdb;
  background-size: 100%;
}
.main-navigation-link {
  padding-top: 25px;
  color: #485863;
  font-family: Roboto;
  font-size: 27px;
  line-height: 27px;
}
.main-img-container {
  border: 1px solid #000;
  margin-left: 52px;
  flex-grow: 1;
}
.main-img {
  margin: 74px 283px;
}
.main-img:hover {
  transform: scale(1.1);
}
.text-container {
  width: 885px;
  margin-left: 382px;
  margin-top: 26px;
  margin-bottom: 13px;
}
.main-text {
  margin-bottom: 13px;
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}
.foot-container {
  display: flex;
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
  padding-top: 20px;
  padding-bottom: 21px;
}
.footer-navigation-list {
  width: 875px;
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-right: 135px;
  margin-left: 40px;
}
.footer-navigation-item {
  color: #0c1927;
  font-family: Roboto;
  font-size: 28px;
  line-height: 28px;
  margin-right: 22px;
}
.footer-navigation-link {
  color: #0c1927;
}
.footer-text {
  margin-right: 40px;
  color: #010101;
  font-family: Roboto;
  font-size: 24px;
  line-height: 24px;
}
.foot-link-hover:hover {
  color: #3181a6;
  font-family: Roboto;
  font-size: 28px;
  line-height: 28px;
  text-decoration: underline;
}
